body {
  margin: 0;
}
body #container {
    margin: 0 auto;
    max-width: 500px;
}
body #container h1#logo {
    display: none;
}
#saveForm {
  background: none repeat scroll 0 0 #00bc9c;
    border: medium none;
    border-radius: 3px;
    box-shadow: none;
    color: #fff !important;
    display: inline-block;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 16px;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 200ms ease-in 0s;
}

body form li.error {
    background-color: transparent !important;
    border: none;
    display: block !important;
    margin-bottom: 8px !important;
}

body form li.error .desc {
    color: #333333 !important;
}

body input.text,
body input.search, 
body textarea.textarea {
  background: none;
  border: 1px solid #dadada;
   border-radius: 4px;
   color: #7a7a7a;
}