/*-----------------------------------------------------------------------------------*/
/*	RESET
/*-----------------------------------------------------------------------------------*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:focus {
    outline: 0 !important
}
.fit-vids-style {
    display: none
}
figure {
    margin: 0;
    padding: 0;
}
figure img {
    width: 100%;
    height: auto;
}
iframe {
    border: none
}
::selection {
    background: #00bc9c; /* Safari */
    color: #ffffff;
}
::-moz-selection {
    background: #00bc9c; /* Firefox */
    color: #ffffff;
}
/*-----------------------------------------------------------------------------------*/
/*	GENERAL
/*-----------------------------------------------------------------------------------*/
body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: 'Raleway',sans-serif;
    overflow-x: hidden;
    background-color: #283645;
    color: #444444;
    font-size: 14px;
    font-weight: 300;
}
.body-wrapper {
    background-color: #fbfbfc;
}
.container {
    padding-right: 0;
    padding-left: 0;
}
body,
li,
address {
    line-height: 25px
}
input,
button,
select,
textarea {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
a {
    color: #0099cc;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
a:hover,
a:focus {
    color: #2e2e2e;
    text-decoration: none;
}
.colored {
    color: #3f8dbf
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway',sans-serif;
    margin-top: 0;
    color: #616161;
    margin-bottom: 10px;
    font-weight: 300;
}
h1 {
    font-size: 26px;
    line-height: 30px;
}
h2 {
    font-size: 22px;
    line-height: 28px;
}
h3 {
    font-size: 18px;
    line-height: 22px;
}
h4 {
    font-size: 16px;
    margin-bottom: 8px;
}
h5 {
    font-size: 14px
}
h6 {
    font-size: 12px
}
.page-title {
    min-height: 91px
}
.page-title h1 {
    font-size: 22px;
    font-weight: normal;
    margin: 4px 0 0 0;
}
h3.post-title {
    font-size: 16px
}
h1.post-title {
    font-size: 22px;
    line-height: 28px;
}
.post-title a {
    color: #616161
}
.post-title a:hover {
    color: #3f8dbf
}
.classic-blog .post-title {
    margin: 0 0 3px 0
}
.upper {
    text-transform: uppercase
}
.swimlane p {
  font-size: 15px;
  line-height: 30px;
}
.swimlane .btn-green {
  margin-top: 25px;
}
.swimlane img {
  max-width: 100%;
}
.section-title {
    color: #333333;
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
   /* margin-top: 30px;*/
}
.section-title h2 {
    font-weight: 800;
    text-transform: lowercase;
    font-size: 25px;
    color: #b6b6b6;
}
.section-title .icon {
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
    width: 130px;
    margin: 0 auto;
    position: relative;
    color: #cacaca;
}
.section-title .icon:before {
    display: inline-block;
    content: "";
    border-bottom: 1px solid #dadada;
    position: absolute;
    left: 0;
    top: 10px;
    width: 50px;
}
.section-title .icon:after {
    display: inline-block;
    content: "";
    border-bottom: 1px solid #dadada;
    position: absolute;
    right: 0;
    top: 10px;
    width: 50px;
}
.light-wrapper {
    background: #FFF;
    border-bottom: 1px solid #e3e3e3;
}
.dark-wrapper {
    background: #f9f9f9;
    border-bottom: 1px solid #e3e3e3;
}
.black-wrapper {
    background: #2c2c2c;
    color: #cacaca;
}
.black-wrapper .lead {
    color: #cacaca
}
.black-wrapper a {
    color: #cacaca
}
.black-wrapper a:hover {
    color: #3f8dbf
}
.black-wrapper h1,
.black-wrapper h2,
.black-wrapper h3,
.black-wrapper h4,
.black-wrapper h5,
.black-wrapper h6 {
    color: #f0f0f0
}
.black-wrapper .section-title h2,
.black-wrapper .section-title .icon {
    color: #9b9b9b
}
.black-wrapper .section-title .icon:before,
.black-wrapper .section-title .icon:after {
    border-color: #636363
}
.widget-title {
    font-size: 14px;
    margin: 0 0 20px 0;
}
.footer-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-menu li {
    display: inline;
    padding-left: 10px;
}
.footer-menu li:before {
    display: inline-block;
    content: "|";
    padding-right: 12px;
}
.footer-menu li:first-child:before {
    display: none
}
.sub-footer {
    background: #283645;
    padding: 25px 0;
    font-family: "Montserrat",sans-serif;
}
.sub-footer p {
    padding: 0;
    margin: 0;
    color: #707e8c;
}
.sub-footer a {
  color: #707e8c;
}
.sub-footer a:hover, .sub-footer a:focus {
  color: #0099cc;
}
footer .post-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer .post-list li {
    margin-top: 19px;
    padding-top: 20px;
    border-top: 1px solid #434343;
}
footer .post-list li:first-child {
    border-top: none;
    margin: 0;
    padding: 0;
}
footer .post-list li h6 {
    font-size: 14px;
    line-height: 25px;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
    margin: 0;
}
footer .post-list li em {
    color: #838383;
    font-size: 12px;
    font-style: normal;
}
.tagcloud {
    line-height: 25px
}
.color-wrapper {
    background: #3f8dbf
}
.color-wrapper,
.color-wrapper p {
    color: #FFF
}
.color-wrapper h1,
.color-wrapper h2,
.color-wrapper h3,
.color-wrapper h4,
.color-wrapper h5,
.color-wrapper h6 {
    color: #FFF
}
.inner {
  padding-bottom: 70px;
  padding-top: 70px;
}
.page-title .inner {
    padding-top: 26px;
    padding-bottom: 26px;
}
.lead {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
}
.thin {
    width: 80%;
    margin: 0 auto;
}
ul {
    padding: 0 0 0 18px
}
ol {
    padding: 0 0 0 20px
}
ul.circled {
    padding: 0;
    list-style: none;
}
ul.circled li:before {
    content: '\e800';
    margin-right: 10px;
    font-weight: normal;
    vertical-align: top;
    padding-top: 1px;
    display: inline-block;
    font-family: 'fontello-circle';
    color: #3f8dbf;
    font-size: 8px;
}
blockquote {
    border-left: 2px solid #dadada;
    padding: 0 20px;
}
blockquote p {
    font-size: 20px;
    line-height: 32px;
}
blockquote small {
    color: #3f8dbf
}
hr {
    border: 0;
    border-bottom: 1px solid #dadada;
    margin: 60px 0;
}
.map iframe {
    display: block;
    max-width: 100%;
}
.dropcap {
    font-weight: 800;
    display: block;
    float: left;
    font-size: 49px;
    padding: 0;
    margin: 0;
    margin: 12px 8px 0 0;
    text-transform: uppercase;
}


/*-----------------------------------------------------------------------------------*/
/*	BUTTON
/*-----------------------------------------------------------------------------------*/
.btn,
.parallax .btn-submit,
.btn-submit {
    color: #fff !important;
    background: #00bc9c;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 16px ;
    font-weight: 800;
    font-size: 13px;
    text-shadow: none;
    border: none;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    letter-spacing: 1px;
}
.btn-large {
    padding: 13px 23px 13px 23px
}
.btn.btn-green {
    background: #1abb9c;
    font-family: "Montserrat";
}
.btn.btn-blue {
    background: #3f8dbf;
}
.btn.btn-red {
    background: #e8554e;
}
.btn.btn-orange {
    background: #ee7757
}
.btn.btn-purple {
    background: #9b59b6
}
.btn.btn-pink {
    background: #d487be
}
.btn.btn-gray {
    background: #95a5a6
}
.btn.btn-transparent {
  background: rgba(255,255,255,.3);
  color: #ffffff;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.parallax .btn-submit:hover {
    background: #00bc9c;
    color: #fff !important;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active {
    background: #17a78b !important
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active {
    background: #387eaa !important
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active {
    background: #cf4c45 !important
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active {
    background: #d96c4f !important
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active {
    background: #8a4fa2 !important
}
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active {
    background: #bd78a9 !important
}
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active {
    background: #859394 !important
}
.color-wrapper .btn {
    background: #FFF !important;
    color: #616161 !important;
}
.color-wrapper .btn:hover {
    background: #e9e9e9 !important
}
.share .btn {
    background: none;
    padding: 8px 17px;
}
.share .btn:hover {
    color: #FFF !important
}
.btn.share-facebook {
    color: #3d5b9b !important;
    border: 2px solid #3d5b9b !important;
}
.btn.share-facebook:hover {
    background: #334c8e !important;
    border: 2px solid #334c8e !important;
}
.btn.share-twitter {
    color: #5aa8cd !important;
    border: 2px solid #5aa8cd !important;
}
.btn.share-twitter:hover {
    background: #499ac8 !important;
    border: 2px solid #499ac8 !important;
}
.btn.share-googleplus {
    color: #3b3b3b !important;
    border: 2px solid #3b3b3b !important;
}
.btn.share-googleplus:hover {
    background: #2e2e2e!important;
    border: 2px solid #2e2e2e !important;
}
.btn.share-pinterest {
    color: #c53942 !important;
    border: 2px solid #c53942 !important;
}
.btn.share-pinterest:hover {
    background: #bc2d32 !important;
    border: 2px solid #bc2d32 !important;
}
.btn-border-dark {
    background: none !important;
    border: 2px solid #616161;
    color: #616161 !important;
}
.btn-border-dark:hover {
    background: none !important;
    border: 2px solid #387eaa;
    color: #387eaa !important;
}
.btn-border-light {
    background: none !important;
    border: 2px solid #9b9b9b;
    color: #9b9b9b !important;
}
.btn-border-light:hover {
    background: none !important;
    border: 2px solid #387eaa;
    color: #387eaa !important;
}
.connect .btn {
    border: none !important
}
.connect .btn:hover {
    border: none !important
}
.connect .btn i {
    padding-right: 3px;
    font-size: 13px;
}
.connect .btn.share-facebook {
    color: #FFF !important;
    background: #3d5b9b !important;
}
.connect .btn.share-facebook:hover {
    background: #334c8e !important
}
.connect .btn.share-twitter {
    color: #FFF !important;
    background: #5aa8cd !important;
}
.connect .btn.share-twitter:hover {
    background: #499ac8 !important
}

.hidded-content {
  display: none;
}
/*-----------------------------------------------------------------------------------*/
/*	BANNER BACKGROUND
/*-----------------------------------------------------------------------------------*/
.image-banner,
.image-banner2{
  position: relative;
  color: #ffffff;
  background: #0B0F12;
  width: 100%;
  overflow: hidden;
}

.image-banner h2 {
  color: #ffffff;
}
.image-banner > img {
  width: 100%;
  height: auto;
}
.image-banner2 .container.inner {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;  
}

.image-banner .container.inner .center-block {
  float: none;
}
#portfolio-checkout {
  font-size: 21px;
  line-height: 21px;
  
  background: url(style/images/banner-homepage.jpg) #0b0f12 no-repeat top center;
  background-size: 150% auto;
}
#portfolio-checkout .row {
  position: relative;
}
#coming-soon {
  position: absolute;
  top: 40px;
  right: 70px;
}
#advisor-link {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 15px;
}
#advisor-link:hover {
  color: #00bc9c;
}
#portfolio-checkout h1 {
    color: #fff;
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 25px;
}
#portfolio-checkout h2 {
    color: #2692d0;
    font-size: 25px;
    margin-bottom: 25px;
    font-weight: 600;
}
#ajay-form .col-sm-7 {
  padding: 0;
}
#portfolio-checkout  ul li {
  font-size: 18px;
  line-height: 40px;
  list-style: none;
}
#portfolio-checkout  ul {
  margin-bottom: 20px;
  margin-left: 0px;
  padding: 0;
}
#portfolio-checkout  ul li img {
    width: 20px;
    margin-right: 8px;
}
#portfolio-checkout  p {
  margin-bottom: 24px;
  font-size: 17px;
}
#ajay-form  p.form-text {
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  max-width: 570px;
}
#ajay-form  h2 {
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 40px;
  margin-bottom: 25px;
}
.icon-up-open:before {
  color: #ddd;
}
form#get-started {
    max-width: 570px;
}

form#get-started input {
    height: 45px;
    line-height: 45px;
    margin-bottom: 20px;
}
form#get-started input.btn-submit {
    margin-bottom: 0px;
    height: auto;
    line-height: 20px;
}

#ajay p {
  font-size: 19px;
  line-height: 40px;
  font-weight: 300;
}

#video {
  background: url(style/images/banners/banner-video.jpg) #0b0f12 no-repeat top center;
  background-size: 100% auto;

}
#video h2 {
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
  margin: 20px 0 40px;
}
#video p {
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
}
#video .service-icon {
    margin: 40px 0 70px;
}
.a-voice-for-change > .container {
  position: relative; 
}
.a-voice-for-change > .container:before {
  background: #eae8e8; /* Old browsers */
background: -moz-linear-gradient(top,  #eae8e8 0%, #fbfbfc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eae8e8), color-stop(100%,#fbfbfc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eae8e8 0%,#fbfbfc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eae8e8 0%,#fbfbfc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eae8e8 0%,#fbfbfc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eae8e8 0%,#fbfbfc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eae8e8', endColorstr='#fbfbfc',GradientType=0 ); /* IE6-9 */
content: "";
display: block;
    height: 60px;
    margin-bottom: 20px;
}
/*-----------------------------------------------------------------------------------*/
/*	SERVICES ICONS
/*-----------------------------------------------------------------------------------*/
.col-services {
  margin-bottom: 40px;
}
.col-services .row {
    text-align: left;
    margin-bottom: 50px;
}
.col-services .row:last-child {
    margin-bottom: 0;
}
.col-services .icon {
    display: table
}
.col-services .row  .icon {
    float: left;
    margin-right: 20px;
}
.col-services .row .text {
    overflow: hidden
}
.col-services .icon i.icn {
    color: #3f8dbf;
    line-height: 1;
    font-size: 50px;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.col-services-2 .col:hover .icon-border i {
    background-color: #3f8dbf;
    color: #FFF;
}

.service-icon {
  margin-bottom: 30px;
}

.col-services h3 {
  font-weight: 600;
  color: #040404;
  font-size: 25px;
  margin-bottom: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.col-services p {
  color: #999999;
  font-size: 15px;
  line-height: 30px;
  padding: 0 20px 0 0 ;
  font-weight: 600;
}
.image-banner .col-sm-6 {
  padding-left: 0;
  padding-right: 0;
}
.col-services .text a {
  font-size: 12px;
  font-weight: 600;
}

  .col-services.partners .service-icon img {
    width: auto !important;
    height: 75px;
  }
.revolution span.bullet-circle {
    background: #ffffff;
    border-radius: 50%;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-right: 8px;
    text-align: center;
    width: 25px;
    color: #000;
    font-size: 18px;
    font-weight: 800;
}

.image-banner form {
    background: rgba(255,255,255,0.15);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 20px 20px;
}
/*-----------------------------------------------------------------------------------*/
/*	CAPTION & OVERLAY
/*-----------------------------------------------------------------------------------*/
.image-caption {
    width: 100%;
    padding: 15px 20px;
    background: #FFF;
    border: 1px solid #e3e3e3;
    border-top: none;
    position: relative;
}
.owl-blog .image-caption,
.grid-blog .post .image-caption {
    padding-bottom: 10px
}
.owlcarousel .image-caption h3,
.item .image-caption h3,
.grid-blog .image-caption h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.image-caption h3 a {
    color: #616161
}
.image-caption h3 a:hover {
    color: #3f8dbf
}
.image-caption:before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    margin-left: 20px;
    width: 8px;
    height: 8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    z-index: 100;
}
.black-wrapper .image-caption {
    background: #3a3a3a;
    border: none;
    padding: 15px 20px;
}
.black-wrapper .image-caption:before {
    border-bottom: 8px solid #3a3a3a
}
.black-wrapper .image-caption h3 a {
    color: #cacaca
}
.black-wrapper .image-caption h3 a:hover {
    color: #3f8dbf
}
.icon-overlay {
    display: block;
    overflow: hidden;
    position: relative;
}
.icon-overlay img {
    display: block;
    max-width: 100%;
    -webkit-backface-visibility: hidden;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.icon-overlay a:hover img {
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.icon-overlay a .icn-more {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    height: 100%;
    position: absolute;
    text-decoration: none;
    width: 100%;
    z-index: 100;
    background: #222;
    background-color: rgba(63,141,191, 0.92);
    overflow: hidden;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.icon-overlay a:hover .icn-more {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.icon-overlay a .icn-more:before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    position: absolute;
    text-align: center;
    content: '\f50d';
    line-height: 1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #FFF;
    top: 50%;
    left: 50%;
    z-index: 2;
    border: 1px solid #FFF;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -moz-transition: -moz-transform 0.25s ease-in-out;
    -o-transition: -o-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
}
.icon-overlay.medium .icn-more:before {
    font-size: 16px;
    padding-top: 8px;
    width: 34px;
    height: 34px;
    margin: -17px 0 0 -17px;
}
.icon-overlay.small .icn-more:before {
    font-size: 15px;
    top: 50%;
    margin: -6px 0 0 -6px;
}
.icon-overlay a:hover .icn-more:before {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}
.icon-overlay a:hover .icn-more:before {
    top: 50%!important
}
.sidebox .post-list .icon-overlay a .icn-more:before {
    border: none
}
.icon-overlay.icn-link a .icn-more:before {
    content: '\f517'
}
/*-----------------------------------------------------------------------------------*/
/*	FANCYBOX
/*-----------------------------------------------------------------------------------*/
#fancybox-thumbs ul li img {
    max-width: none
}
.info.hidden {
    display: none
}
.fancybox-wrap {
    background: #FFF !important
}
.fancybox-title,
.fancybox-error {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 14px !important;
    line-height: 24px !important;
}
.fancybox-title h2,
.fancybox-title h3 {
    color: #616161;
    margin-bottom: 10px;
    line-height: 22px;
    font-size: 18px;
}
.fancybox-skin {
    color: #616161 !important
}
.fancybox-title-inside-wrap {
    padding: 20px !important
}
.fancybox-nav span {
    width: 36px !important;
    height: 36px !important;
    margin-top: -18px !important;
}
.fancybox-close {
    top: 10px !important;
    right: 10px !important;
    width: 36px !important;
    height: 36px !important;
}
.fancybox-close:before,
.fancybox-prev span:before,
.fancybox-next span:before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0 !important;
    margin-top: 6px !important;
    text-align: center;
    width: 36px !important;
    font-size: 20px !important;
}
/* Firefox Fix */
@-moz-document url-prefix() { 
	.fancybox-close:before,
	.fancybox-prev span:before,
	.fancybox-next span:before {
	    margin-top: 5px !important
	}
}
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
    background: rgba(0,0,0,0.5) !important;
    color: #f7f7f7 !important;
    text-align: center !important;
    -webkit-transition: all 200ms ease-in !important;
    -o-transition: all 200ms ease-in !important;
    -moz-transition: all 200ms ease-in !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
}
.fancybox-close:hover,
.fancybox-prev span:hover,
.fancybox-next span:hover {
    background: rgba(0,0,0,0.7) !important
}
.fancybox-wrap:hover .fancybox-close,
.fancybox-wrap:hover .fancybox-prev span,
.fancybox-wrap:hover .fancybox-next span {
    opacity: 1
}
.fancybox-prev span:before {
    content: '\e75d'
}
.fancybox-next span:before {
    content: '\e75e'
}
.fancybox-close:before {
    content: '\2715'
}
#fancybox-loading {
    margin-top: -12px !important;
    margin-left: -12px !important;
    background: #000 !important;
    padding: 8px;
    opacity: 1 !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
}
#fancybox-loading div {
    width: 24px !important;
    height: 24px !important;
    background-image: url(style/images/fancy-loading.gif) !important;
}
.fancybox-overlay {
    background: rgba(27,27,27,0.94) !important
}
.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.33);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.33);
    box-shadow: 0 0 5px rgba(0,0,0,0.33);
}


/*-----------------------------------------------------------------------------------*/
/*	FORMS
/*-----------------------------------------------------------------------------------*/
.forms {
    position: relative;
    padding: 0;
    width: 100%;
}
.form-container .response {
    display: none
}
.forms ol {
    margin: 0;
    padding: 0;
}
.forms ol li {
    line-height: auto;
    list-style: none;
}
.forms li.hidden-row {
    display: none
}
input,
textarea,
.uneditable-input {
    width: 100%
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    color: #7a7a7a;
    border: 1px solid #dadada;
    resize: none;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #FFF;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border: 1px solid #6bc1e1;
    background: #FFF;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
textarea {
    height: 100%;
    padding: 5px 10px;
    margin-bottom: 15px;
    min-height: 150px;
    resize: vertical;
}
.btn-submit {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    width: auto;
}
.forms li.error input,
.forms li.error textarea {
    border: 1px solid #b54d4d
}
.forms span.error {
    display: none
}
.forms .button-row span.error {
    padding: 0;
    display: none;
}
.forms .button-row p.forgot {
    padding: 6px 0 0 10px;
    overflow: hidden;
    display: inline-block;
}
.forms label {
    display: block;
    float: left;
    width: 95px;
    padding-top: 7px;
    font-size: 13px;
    clear: both;
}
#box_form  input[type="submit"] {
  width: 100%;
  padding: 10px;
}

.form-container:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
::-webkit-input-placeholder {
    color: #999999 !important
}
:-moz-placeholder {
    color: #999999 !important
}
::-moz-placeholder {
    color: #999999 !important
}
:-ms-input-placeholder {
    color: #999999 !important
}
input:focus::-webkit-input-placeholder {
    color: transparent !important
}
input:focus:-moz-placeholder {
    color: transparent !important
}
input:focus::-moz-placeholder {
    color: transparent !important
}
input:focus:-ms-input-placeholder {
    color: transparent !important
}
.newsletter {
    position: relative;
    margin: 0 auto;
}

#btn-login {
    font-family: Montserrat;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}
form h3 {
    color: #272727;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

/*-----------------------------------------------------------------------------------*/
/*	GO TO TOP
/*-----------------------------------------------------------------------------------*/
#scrollUp {
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    background: rgba(80,106,133,0.6);
    color: #949ba2;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
    transition: background 200ms linear;
    -webkit-backface-visibility: hidden;
    line-height: 1;
    font-size: 20px;
    padding: 9px 10px 10px 10px;
}
#scrollUp:hover {
    background: rgba(0,0,0,0.5)
}


/*-----------------------------------------------------------------------------------*/
/*	BOX LAYOUT
/*-----------------------------------------------------------------------------------*/
@media (min-width: 1270px) { 
	.box-layout {
		background: transparent url(style/images/bg/bg1.jpg) repeat fixed;
		padding: 0;
	}
	.box-layout .body-wrapper {
		position: relative;
		width: 1270px;
		margin: 0 auto;
		-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.17);
		-moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.17);
		box-shadow: 0 0 3px 0 rgba(0,0,0,0.17);
	}
	.box-layout .body-wrapper .navbar-header {
		width: 1270px;
	}
	.box-layout .navbar.basic.fixed {
		left: inherit;
		top: 0;
	}
}
/*-----------------------------------------------------------------------------------*/
/*	RESPONSIVE
/*-----------------------------------------------------------------------------------*/

@media (min-width: 1200px) { 
	.container {
	    padding-right: 0;
	    padding-left: 0;
	}
	
}


@media (max-width: 991px) { 
	
	.onepage .offset {
		display: block;
	}
  .inner {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .section-title {
    font-size: 30px;
    margin-bottom: 35px;
  }
  
  #portfolio-checkout {
    background-size: 200% auto;
}

@media (min-width: 768px) and (max-width: 859px) { 
  #ajay .inner {
    padding-bottom: 50px;
    padding-top: 20px;
  }
  #portfolio-checkout h1{
    font-size: 30px;
  } 
  #portfolio-checkout h2{
    font-size: 20px;
  } 
  #coming-soon {
    right: 20px;
    width: 180px;
      height: auto;
  }
  #portfolio-checkout p {
    font-size: 18px;
    line-height: 23px;
  }
  #portfolio-checkout ul li {
    font-size: 16px;
  }
  #portfolio-checkout {
    background-size: 210% auto;
}
.section-title {
    font-size: 25px;
  
 } 
  
}
@media (max-width: 767px) { 
	.navbar .container,
	.container {
	    padding-right: 40px;
	    padding-left: 40px;
	}
	[class*="col-"] {
	    margin-bottom: 30px
	}
	#scrollUp {
	    display: none !important
	}
	
	img {
	    max-width: 100%;
	    height: auto;
	}
	
	.page-title h1,
	.page-title .navigation {
	    float: none !important
	}
	
	[class*="col-"].lp30 {
	    padding-left: 15px
	}
	
	.panel-title {
	    line-height: 18px
	}
  .inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
   .btn.btn-green {
    font-size: 10px !important;
    padding: 7px;
  }
  .image-banner {
    background: #0B0F12;
  }
  .image-banner > img {
    width: 130%;
    max-width: none;
    opacity: 0.3;
  }
  
   #portfolio-checkout h1{
    font-size: 25px;
  } 
  #portfolio-checkout h2{
    font-size: 18px;
  } 
  #coming-soon {
    right: 20px;
    width: 180px;
      height: auto;
  }
  #portfolio-checkout p {
    font-size: 14px;
    line-height: 20px;
  }
  #portfolio-checkout ul li {
    font-size: 14px;
  }
  #coming-soon {
    width: 140px;
    right: 0px;
  }
  .section-title {
    font-size: 25px;
    margin: 30px 0;
  }
  .image-col,
  .text-col {
    text-align: center;
  } 
}
@media (max-width: 830px) {
  .a-voice-for-change > .container:before {
    height: 40px;
  }
  .a-voice-for-change .section-title {
    margin-top: 0;
  }
  
}

@media (max-width: 640px) {
  .image-banner {
    padding: 20px 0;
  }
  
  #portfolio-checkout h1{
    font-size: 22px;
  } 
  #portfolio-checkout h2{
    font-size: 17px;
  } 
  #coming-soon {
    right: 20px;
    width: 180px;
      height: auto;
  }
  #portfolio-checkout p {
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 8px;
  }
  #portfolio-checkout ul li {
    font-size: 14px;
    line-height: 27px;
  }
  #portfolio-checkout {
    background-size: 340% auto;
  }
  .section-title {
      font-size: 20px;
   } 
   #coming-soon {
    position: relative;
    right: auto;
    top: auto;
    width: 150px;
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .image-banner > img {
    opacity: 0.2;
  }
  
  .section-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .swimlane p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 5px;
}
  .col-services h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .col-services p {
    padding: 0 10px;
    line-height: 25px;
  }
  .col-services .service-icon img {
    width: 50px;
  }
  .image-banner {
    padding: 0;
  }
  
  #portfolio-checkout {
    background-size: 500% auto;
  }
   body .container {
    padding-left: 30px;
    padding-right: 30px;
	}
  
}


@media (max-width: 360px) {
  
  #portfolio-checkout {
    background-size: 700% auto;
  }
  #advisor-link {
    
    position: relative;
    left: 15px;
    top: 0;
	}
}



.hidded-content {
  display: none;
}

.hidded-content h4 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
.hidded-content p {
    font-size: 14px;
}
.italic {
  font-style: italic;
}