<footer class="clearfix">
    <div class="container clearfix">
        <p id="final">&copy; 2015 Portfoio Checkup. All rights reserved.</p>

        <div class="social">
            <a href="#" target="_blank"><span class="icon-facebook"></span></a>
            <a href="#" target="_blank"><span class="icon-twitter"></span></a>
            <a href="#" target="_blank"><span class="icon-linkedin2"></span></a>
            <a href="#" target="_blank"><span class="icon-youtube"></span></a>
        </div>
    </div>
</footer>