<head>
    <title>PORTFOLIO CHECKUP</title>
    <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="{{ "/dist/styles/main.css" | prepend: site.baseurl }}">
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/35ec010d-ba67-4d62-8e32-cbeed5bf84ff.css"/>
    <script language="javascript" type="text/javascript" src="{{ "/dist/scripts/jquery.js" | prepend: site.baseurl }}"></script>
    <script language="javascript" type="text/javascript" src="{{ "/dist/scripts/main.js" | prepend: site.baseurl }}"></script>
</head>