<div class="nav">
    <div class="container">
        <img src="{{ site.baseurl }}/assets/images/logo.png" id="logo" width="281">

        <ul id="navigation">
            <li><a href="" data-toggle="modal" data-target="#myModal2">About Us</a></li>
            <li><a id="nav-demo-link" href="#demo_video">Demo</a></li>
            <li><a href="https://app.portfoliocheckup.com/login">Login</a></li>
            <li><a href="https://app.portfoliocheckup.com/signup" class="active">Get Started</a></li>
        </ul>
    </div>
</div>