<head>
	<title>PORTFOLIO CHECKUP</title>
    <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/35ec010d-ba67-4d62-8e32-cbeed5bf84ff.css"/>
	{% if page.url contains "video" %}
		<link rel="stylesheet" type="text/css" href="{{ "/dist/styles/signup-video.css" | prepend: site.baseurl }}">
	{% else %}
		<link rel="stylesheet" type="text/css" href="{{ "/dist/styles/signup.css" | prepend: site.baseurl }}">
	{% endif %}
    <script src='//cdn.optimizely.com/js/67641124.js'></script>
    <script type="text/javascript">
window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9", window.analytics.load("UXw8RbwoFxSY0ENnt5gQoYJdRcD4fCHV");
window.analytics.page();
	</script>
</head>
