.wufoo {
	background:#FBFBFC
}
.wufoo header h2 {
	color: #444;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
} 
.wufoo ul li label.focused
.wufoo ul li label {
	color: #666;
	font-size: 14px; 
	font-weight: 500;
	text-transform: uppercase;
}
.wufoo ul li label.focused {
	background: none;
}
.wufoo ul li span input, .wufoo ul li div input {
	border: 1px solid #dbdbdb;
	border-radius: 4px;
	display: block;
	line-height: 1.2;
	padding: 7px 12px;
}
.wufoo ul li span input#Field1, .wufoo ul li span input#Field2 {
	width: 175px
}
.wufoo ul li div input#Field3 {
	width: 380px
}
.wufoo ul li.buttons div input.btTxt {
    background-color: #428bca;
	background: linear-gradient(to bottom, #4ab2e3 0px, #3ea4dd 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #3898c9 ;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    padding: 10px 20px;
    text-transform: uppercase;
} 